# Snippet for typewriting font
snippet tt "The \texttt{} command for typewriter-style font"
\texttt{$1}$0
endsnippet

# Snippet for italic font
snippet tii "Italicizing the selected text in LaTex"
\textit{${1:${VISUAL:}}}$0
endsnippet
